<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dun0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,261}}</string>
                <key>sourceSize</key>
                <string>{260,261}</string>
            </dict>
            <key>role0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,265},{116,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,131}}</string>
                <key>sourceSize</key>
                <string>{116,133}</string>
            </dict>
            <key>role_fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,398},{120,108}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{120,108}}</string>
                <key>sourceSize</key>
                <string>{136,192}</string>
            </dict>
            <key>role_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,265},{124,130}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{136,192}</string>
            </dict>
            <key>role_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{136,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,192}}</string>
                <key>sourceSize</key>
                <string>{136,192}</string>
            </dict>
            <key>role_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,265},{124,130}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{136,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_all.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80ab585359b27b2239ac04cfd9cbabdb:1/1$</string>
            <key>textureFileName</key>
            <string>sp_all.png</string>
        </dict>
    </dict>
</plist>
